NOOD_DB_CONNECTION_STRING="Server=<SERVER>;Initial Catalog=<INITIAL_DB>;Persist Security Info=False;User ID=<USER_ID>;Password=<PASSWORD>;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"