@layer components {
  .nh-button {
    @apply flex flex-row flex-nowrap justify-between;
    @apply px-3 py-2.5;
  }

  .b-theme-bali-hai {
    --bg-color: theme('colors.nh-bali-hai.700');
    --hover-color: theme('colors.nh-bali-hai.800');
    --text-color: theme('colors.nh-bali-hai.100');
    --border-color: theme('colors.nh-bali-hai.950/50');
    --focus-color: theme('colors.nh-bali-hai.950');
  }
  .b-theme-bourbon {
    --bg-color: theme('colors.nh-bourbon.700');
    --hover-color: theme('colors.nh-bourbon.800');
    --text-color: theme('colors.nh-bourbon.100');
    --border-color: theme('colors.nh-bourbon.950/50');
    --focus-color: theme('colors.nh-bourbon.950');
  }
  .b-theme-chalet-green {
    --bg-color: theme('colors.nh-chalet-green.700');
    --hover-color: theme('colors.nh-chalet-green.800');
    --text-color: theme('colors.nh-chalet-green.100');
    --border-color: theme('colors.nh-chalet-green.950/50');
    --focus-color: theme('colors.nh-chalet-green.950');
  }
  .b-theme-di-serria {
    --bg-color: theme('colors.nh-di-serria.700');
    --hover-color: theme('colors.nh-di-serria.800');
    --text-color: theme('colors.nh-di-serria.100');
    --border-color: theme('colors.nh-di-serria.950/50');
    --focus-color: theme('colors.nh-di-serria.950');
  }
  .b-theme-empress {
    --bg-color: theme('colors.nh-empress.700');
    --hover-color: theme('colors.nh-empress.800');
    --text-color: theme('colors.nh-empress.100');
    --border-color: theme('colors.nh-empress.950/50');
    --focus-color: theme('colors.nh-empress.950');
  }
  .b-theme-mallard {
    --bg-color: theme('colors.nh-mallard.700');
    --hover-color: theme('colors.nh-mallard.800');
    --text-color: theme('colors.nh-mallard.100');
    --border-color: theme('colors.nh-mallard.950/50');
    --focus-color: theme('colors.nh-mallard.950');
  }
  .b-theme-off-yellow {
    --bg-color: theme('colors.nh-off-yellow.700');
    --hover-color: theme('colors.nh-off-yellow.800');
    --text-color: theme('colors.nh-off-yellow.100');
    --border-color: theme('colors.nh-off-yellow.950/50');
    --focus-color: theme('colors.nh-off-yellow.950');
  }
  .b-theme-off-yellow-light {
    --bg-color: theme('colors.nh-off-yellow.300');
    --hover-color: theme('colors.nh-off-yellow.400');
    --text-color: theme('colors.nh-off-yellow.950');
    --border-color: theme('colors.nh-off-yellow.500/50');
    --focus-color: theme('colors.nh-off-yellow.500');
  }
}
